.DS_Store

 // weather icon
                        // var iconCode = data.current.weather[0].icon;
                        // var iconUrl = "http://openweathermap.org/img/w/" + iconCode + ".png";
                        // $(".icon").html("<img src='" + iconUrl  + "'>");
                        // console.log(iconCode);
                        
                        // var iconCode = data.current.weather[0].icon;
                        // var iconUrl = "http://openweathermap.org/img/w/" + iconCode + ".png";
                        var iconEle = document.createElement("img");
                        iconEle.setAttribute('class', 'card-text');
                        iconEle.innerHTML= `<img src="icons/${data.daily[i].weather[0].icon}.png"/>`;




// $(".search-btn").on("click", function() {
//     localStorage.setItem("city", JSON.stringify(city));
// }

// function saveCity() {
//     var nameCity = document.getElementById("usersCity").value.trim()
//     console.log(nameCity);

//     var previousCities = JSON.parse(localStorage.getItem("AllCities")) || [];
//     console.log(previousCities);
//     localStorage.setItem("AllCities", JSON.stringify(previousCities));

//     for (i = 0; i <previousCities.length; i++) {
//         var liTag =document.createElement("li");
//         liTag.textContent = previousCities[i].city;
//         console.log(liTag);
//         var ulElement = document.getElementById
//     }
// }