* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


html,
body {
    font-family: "Montserrat Alternates", sans-serif;
}

.jumbotron {
    font-family: "Montserrat Alternates", sans-serif;
    text-align: center;
    background-color: rgb(126, 126, 244);
    color: rgb(109, 5, 206);
    border-radius: 0;
    border-bottom: 4px dotted black;
    margin-bottom: 20px;
}


.form-style {
    padding: 8%;
}

.text-box {
    padding: 8px 11px;
    border-color: cadetblue;
    border-style: solid;
}

.searchBtn {
    font-size: 20px;
    transition: all .3s ease-in-out;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    width: 36%;
    height: 36%;
}

#current {
    margin-left: 0;
    padding-left: 0;
}

.forecast-style {
    font-weight: 500;
    font-size: 40px;
}

.center {
    margin: auto;
    top: -190px;
    left: 80px;
}

#cities p {
    background-color: white; 
    color: black; 
    border: 2px solid rgb(118, 43, 238);
    cursor: pointer;
    margin: 4px 2px;
    width: 35%;
    text-align: center;
    
}